@charset "UTR-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #0CF25D,#025951 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px  20px 60px #02263493;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{ 
    color:#037267 ;
    text-align: center;
    text-shadow: 1px 1px 2px #035d5495;
}
h2{
    color: #043447;
}
p{
    text-align: justify;
}
